body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(0, 249, 236), rgb(71, 150, 229));
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
  }
  
  .header_text {
    font-family: "Nunito";
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-family: "Nunito";
    font-size: 18px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #017cff;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  